<div class="password-strength-container">
  <input
    type="password"
    [formControl]="password"
    placeholder="Enter your password"
  />
  <div class="strength-bars">
    <div
      class="strength-bar"
      [ngClass]="{
        'gray-bar': passwordEmpty || passwordShort,
        'red-bar': passwordStrength === 'easy' && !passwordShort,
        'yellow-bar': passwordStrength === 'medium' && !passwordShort,
        'green-bar': passwordStrength === 'strong' && !passwordShort
      }"
    ></div>
    <div
      class="strength-bar"
      [ngClass]="{
        'gray-bar': passwordEmpty || passwordShort,
        'yellow-bar':
          (passwordStrength === 'medium' || passwordStrength === 'strong') &&
          !passwordShort,
        'green-bar': passwordStrength === 'strong' && !passwordShort
      }"
    ></div>
    <div
      class="strength-bar"
      [ngClass]="{
        'gray-bar': passwordEmpty || passwordShort,
        'green-bar': passwordStrength === 'strong' && !passwordShort
      }"
    ></div>
  </div>
</div>
