.password-strength-container {
    width: 300px;
    margin: auto;
    text-align: center;
}

.strength-bars {
    display: flex;
    margin-top: 10px;
}

.strength-bar {
    flex: 1;
    height: 10px;
    margin: 0 2px;
}

.gray-bar {
    background-color: gray;
}

.red-bar {
    background-color: red;
}

.yellow-bar {
    background-color: yellow;
}

.green-bar {
    background-color: green;
}